NODE_ENV=development
PORT=4000
APP_URL=http://localhost:4000
JWT_EXPIRATION=1d
REFRESH_TOKEN_SECRET=changeme-too
REFRESH_TOKEN_EXPIRATION=7d
DB_HOST=localhost
DB_PORT=3306
DB_USER=adminweb
DB_PASSWORD=wR17XN&u39M7
DB_NAME=et20plataforma
GOOGLE_CLIENT_ID=886183905992-g1d8fe0k1v86b4ebb21950a5rdkm1ol7.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=https://magicalhour.com.ar/login_google.php